################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrayerTime/.vs/PrayerTime
/PrayerTime/bin/Debug/netcoreapp3.1
/PrayerTime/obj
/PrayerTime.Tests/bin/Debug/netcoreapp3.1
/PrayerTime.Tests/obj
