################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrayerTime/.vs/PrayerTime
/PrayerTime/bin
/PrayerTime/obj
/PrayerTime.Tests/bin
/PrayerTime.Tests/obj
/.vs
